<aside>



	<div class="panel radius">
      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-0713-7515" href="https://orcid.org/0000-0002-0713-7515" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0002-0713-7515</a></div>
      <br/>
    <a class="twitter-timeline" data-width="300" data-height="800" href="https://twitter.com/CherylEliza?ref_src=twsrc%5Etfw">Tweets by CherylEliza</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	</div>
</aside>
