---
layout: default
format: recipe
---

<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</div>
			</header>
      <img src="../../images/recipes/{{ page.featured_image }}"/>

			<p class="teaser" itemprop="description">
				{{ content }}
			</p>

      <div>
        <ul id="recipe" class="recipe-overview">
          <li title="Servings"><span>{{ page.recipe.servings }}</span></li>
          <li title="Prep Time"><span>{{ page.recipe.prep }}</span></li>
          <li title="Cook Time"><span>{{ page.recipe.cook }}</span></li>
        </ul>
      </div>
      <div>
        {{page.recipe.ingredients_markdown | markdownify }}
      </div>

      <div>
        {{page.recipe.directions_markdown | markdownify }}
      </div>
      
			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
  
</div><!-- /.row -->
